<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title INDEX
        link(rel="stylesheet", href="styles/styles.css")
    body
        .header 

        .box
            .box__story 

            .box__views
                .box__title 
                .box__main 