body {
  overflow: hidden;
}

.header {
  width: 100%;
  height: 54px;

  background-color: #777;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box .box__story {
  width: 614px;
  height: 118px;

  background-color: #bdc3c7;
  margin-top: 10px;
}

.box .box__views {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.box .box__views .box__title {
  width: 610px;
  height: 500px;

  background-color: #b2bec3;
  margin-bottom: 5px;
}

.box .box__views .box__main {
  width: 610px;
  height: 100px;

  background-color: #7f8fa6;
}
